#banner{
	background: #0B0B61;
	/*background: #424242;*/
	/*background: #A4A4A4;*/
	/*background: #000;*/
	/*background: #FFF;*/
	width: 100%;
	margin-top: 50px;
}

#banner .SobreBoton{
	color: #333;
	background: #A1CC2F;
	position: absolute;
	top: 20%;
	left: 55%;
	transform: translateX(-20%) translateY(-20%);
	font-size: 2.5vw;
	font-weight: bolder;
	opacity: 0.6;
	font-family: Overlock;
	border: transparent;
	border-radius: 15px;

}
#banner .SobreBoton:hover{
	cursor: pointer;
	color: #333;
	background: #FFF;

}

#banner .SobreTexto{
	color: #FFF;
	font-size: 2.5vw;
	font-weight: bolder;
	top:20%;
	left: 20%;
	position: absolute;
	transform: translateX(-20%) translateY(-20%);
}

#banner .Slides {
	width: 500px;
	height: 300px;
	position: absolute;
	top:50%;
	left: 50%;
	max-width:50%;
	height:auto;
	margin-bottom: 40px;
	transform: translateX(-50%) translateY(-50%);
	margin-top: 20px;
}
.slidesjs-pagination{
	background: #000;
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.3vw;
	align-content: center;
}
.slidesjs-pagination li a:hover{
	background: #333;
}
.Slides .active{
	background: #D8D8D8;
	color: #000;
	font-weight: bolder;
}
.slidesjs-navigation{
	align-content: center;
	width: 05%;
	background: #000;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	padding: 10px 18px;
	float: right;
	font-weight: bolder;
	font-size: 1.3vw;
}
.slidesjs-navigation:hover{
	background: #333;
}

#banner img.Fondo{
	max-width:100%; 
	opacity: 0.4;
	height:auto;
	margin-top: 50px;
	margin-bottom: 40px;
}

#banner.contenedor{
	position: absolute;
}

@media screen and (max-width:800px) {

  #banner .SobreTexto{
  	font-size: 3vw;
  }
  #banner .SobreBoton{
  	font-size: 3vw;
  	left: 60%;
  }
}


@media screen and (max-width:1400px) and (max-height: 650px){
  #banner .Slides{
  	top: 60%;
  }
}

@media screen and (max-width:600px) {
  #banner .SobreTexto{
  	font-size: 4vw;
  }
  #banner .SobreBoton{
  	font-size: 4vw;
  	left: 75%;
  }
}

@media screen and (max-width:1000px) {
  #banner img.Fondo{
  	height: 550px;
  }
}